.todo-row{
    padding: 10px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.todolist{
    height: 300px;
    margin-top: 20px;
    overflow-y: auto;
}
.fa-trash{
    font-size: 20px;
    color: rgb(207, 205, 205);
    cursor: pointer;
    margin-left: 5px;

}
.fa-trash:hover{
    color: #183153;
}

@media(max-width:480px){
    .todo-row{
        width: 95%;
    }
}
.edit-container{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.fa-edit{
    font-size: 20px;
    color: rgb(207, 205, 205);
    cursor: pointer;
}
.fa-edit:hover{
    color: #183153;
}