.todo-app{
  width: 100%;
  height: 100vh;
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container{
  width: 470px;
  height: 530px;
  background-color: whitesmoke;
  border-radius: 5px;
}